@import url("https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap");


@font-face {

   font-family: "CircularStd";
   src: url("../fonts/CircularStd-Book.woff2") format(woff2),
      url("../fonts/CircularStd-Book.woff") format(woff);
   font-display: swap;
   font-weight: 400;
   font-style: normal;
}

@font-face {

   font-family: "CircularStd";
   src: url("../fonts/CircularStd-Medium.woff2") format(woff2),
      url("../fonts/CircularStd-Medium.woff") format(woff);
   font-display: swap;
   font-weight: 500;
   font-style: normal;

}

@font-face {

   font-family: "CircularStd";
   src: url("../fonts/CircularStd-Bold.woff2") format(woff2),
      url("../fonts/CircularStd-Bold.woff") format(woff);
   font-display: swap;
   font-weight: 700;
   font-style: normal;

}

@font-face {

   font-family: "CircularStd";
   src: url("../fonts/CircularStd-Black.woff2") format(woff2),
      url("../fonts/CircularStd-Black.woff") format(woff);
   font-display: swap;
   font-weight: 900;
   font-style: normal;

}

body {
   /*text-shadow: 1px 1px 5px #f10000;*/
   font-family: "CircularStd", serif;
}

/* ---------- CSS-властивості шрифтів ------------------- */

/*встановлює родину шрифту 
font-femily: "ім'я шрифту", "ім'я шрифту", тип шрифту; 

типи шрифті:
serif - шрифт з зарубками(засічками)
sens-serif - рублений(без зарубок)
cursive - курсивні шрифти
fentasy - декоративні
monospace - моноширинні
..title{
   font-famely:CircularStd, derif;
}

*/

/* встановлює розмір шрифту 
font-size: цифрове значення та одиниця виміру; 
(за замовчуванням 16рх. якщо в браузері не вказано іншого)
успадковується
.title{
   font-size: 20px;
}
*/

/* 
вснатовнлює стиль шрифту
font-style: назва стилю;
успадковується

normal (за замовчуванням(тобто писати не треба)) - звичайний (не змінений) стиль
italic - курсив
oblique - нахилення літер  


*/




/* встановлює насиченість(товщину) шрифту
font-weight: цифрове або значення словом(словесне);
успадковується

100 - thin
300 - lite
400 - regular(normal)  (вже за азмовченням) 
500 - medium
600 - semibold
700 - bold
900 - black
 */


/*.title{
   font-family:CircularStd;
   font-weight: 900;
}*/

/* -------- CSS-властивості тексу -----------------*/
/*встановлює колір тексту
color: слово або код кольору; 
успадковується
 */
/*.title {*/
/*color: brown;
   color: #5555;
   color: rgba(55, 168, 51, 0.5); - прозорість*/
/*}*/

/* встановлює вирівнювання тексту
text-align: значення;
успадковується (текстом)
center - вирівнює по центру
left - вирівнює по лівому краю
right - вирівнює по правому краю
justify - вирівнбє текст по ширині об'єкту в якому він знаходиться,
автоматично змінюючи пробіли між словами

 */

/*.text{
   text-align:  justify;
 }*/


/*додає тексту певне значення
  text-decoration:значення;
  line through - закреслює текст
  overline - лінія над текстом
   underline - лінія під текстом
  nine - (за замовченням) відміняє змінений раніще параметр
  
  */


/*.text{
   text-decoration: underline;
}*/

/* додає тексту тінь
text-shadow: горизонтальне_зміщення вертикальне_зміщкння розмір колір;
успадковується (тексом)
може бути мульти-тінь (значення через кому-   text-shadow: 2px 2px 5px #000, -2px -2px -5px red;)
*/

/*.text{
   text-shadow: 2px 2px 5px #000;
}*/

/*встановлює тип (регістр) літер (прописні або заглавні)
text-transform: значення;
успадковується (тексом)
capitalize - кожне слово починається з заглавної
lovercase усі літери прописні(нижній регістер)
uppercase усі літери заглавні(верхній регістер). якщо слово вже написано з великої,бажано продублювати uppercase-сом.
none - (за замовчуванням) не змінює ( або відміняє) значення
*/

/*.text{ 
   text-transform:uppercase;
}*/

/* визначає міжрядковий інтервал (відстань) (висота рядка)
line-height: значення;

перевести пікселі в частини:
значення line-height поділити на хначення font-size
успадковується (тексом)
*/
/*
.text{
   line-height: 2;
}*/


/* 
червона строка. всановлює відступ зліва у першого рядка тексту
text-indent
успадковується (тексом)
*/
/*.text{
   text-indent: 20px;
}*/

/*встановлює інтервал між літерами(символами)
letter-spacing : значення;
успадковується (тексом)
*/
/*.text{ 
   letter-spacing: 5px;
}*/

/* 
управляє поведінкою пробілів
white-space: значення
nowrap - забороняє переніс рядка
normal - (за замовчуванням) не змінює (або відміняє) значення
бажано не лікувати ним якісь проблеми кода,буде костилем
успадковується (тексом)*/
/*.text{
   white-space: nowrap;
}*/


/* встановлює інтервали між словами 
word-spacing: значення 
успадковується (тексом)*/
/*.text{
   word-spacing: 20px;
}*/

/*=========================================================================== */
/*----------------------------- css-властивості блоків -----------------------*/
/*=========================================================================== */

/* box-sizing
застосовується для зміни алгоритму обчислення величин
content-box - (за замовченням) додає відступи до розміру об'єкту
border-box - значення розмірів враховують відступи
*/


/*.block {
   background-color: coral;

}

.inline {
   background-color: green;
}*/

/* відступи */
/* відтсупи працюють неочікувано  для рядкових об'єктів. треба думати перш ніж такі використовувати в кодуванні */

/* padding - внурішні відступи. відступи ВСЕРЕДЕНІ об'єкту.
від кордонів об'єкту ДО ЙОГО КОНТЕНТУ
НЕ успадковується

padding: з_усіх_сторін;
padding: зверху_знизу зправа_зліва;
padding: зверху зправа_зліва знизу;
padding: зверху зправа знизу зліва;

padding-top: значення;
padding-right: значення;
padding-bottom: значення;
padding-left: значення;
*/


/*padding-top: 20px;
padding-right: 30px;
padding-bottom: 50px;
padding-left: 10px;*/

/*padding: 20px 10px;*/

/*padding: 30px;*/



/* відтсупи працюють неочікувано  для рядкових об'єктів. треба думати перш ніж такі використовувати в кодуванні */
/*.inline{
   padding: 30px;
}*/

/* при вказанні зазначенні у відсотках,відсоток береться від 
ширини батьківського об'єкту навіть для горизонтальних відступів  */




/*margin - зовнішний відступ
відступи ЗЗОВНІ об'єкту
margin: з_усіх_сторін;
margin: зверху_знизу зправа_зліва;
margin: зверху зправа_зліва знизу;
margin: зверху зправа знизу зліва;

margin-top: значення;
margin-right: значення;
margin-bottom: значення;
margin-left: значення;

значення можуть бути від'ємними!!!
*/

/* відтсупи працюють неочікувано  для рядкових об'єктів. треба думати перш ніж такі використовувати в кодуванні */

.block {}

.inline {}

/* width - чітко задає шиирину блочного (блочно-рядкового) об'єкту
НЕ працює з рядковими об'єктами
width: значення;
auto - (за замовчнням) автоматичний розмір*/
/* max-width
встановлює максимальну ширину блочних (блочно-рядкових) тегів
Властивість не успадковується
НЕ прауює з рядковими об'єктами
 */

/* min-width - встановлює мінімальну ширину 
блочних(блочно-рядкових) тегів 
Властивість не успадковується
НЕ прауює з рядковими об'єктами
  */

/*height
встановлює висоту 
блочних (блочно-рядкових) тегів 
Властивість не успадковується
НЕ прауює з рядковими об'єктами
  */
/* min-height - встановлює висоту
блочних(блочно-рядкових) тегів 
Властивість не успадковується
НЕ прауює з рядковими об'єктами
  */

/* max-height - встановлює висоту 
блочних(блочно-рядкових) тегів 
Властивість не успадковується
НЕ прауює з рядковими об'єктами
  */

/* overflow
управляє відображенням контенту блочного елементу
Властивість не успадковується
visible - (за замовчуванням) відображається увесь контент елемента,
навіть за межами встановленого розміру
hidden - выдображається тільки контент всередені елемента,
все інше буде сховано
завжди додаються смужки прокрутки
auto - смужки додаються лише за необхідністю
  */

/* display (за замовчуванням для блочних об'єків)
багатофункціональна властивість яка задає глобальні 
параиетри тега.
block (за замовчуванням для блочних об'єків)
   елемент відображається як блочний.
Властивість не успадковується
inline - (за замовчуванням для рядкових об'єків) 
елемент відображається як рядковий. 
inline-block - елемент відображається як рядковий 
але з можливістю використання усіх css-властивостей
none - елемент не виводиться.
інші елементи займають його місце
не приймає участь у обробці браузером
 */

/* фантомні пробіли */

/*.items{
   font-size: 0px;
}


.item{
   font-size: 20px;
   background-color: blueviolet;}*/



/* гарний приклад з A */

/*.section {
   padding: 15px;
   background-color: khaki;
   ;
}

.text {
   margin-bottom: 10px;
}

.link {
   display: inline-block;
   margin-bottom: 10px;
}*/



 /* прaктика відступів. десь о 2:00 шукати в відео*/

.section {
background-color: rgb(222, 26, 222);
padding: 15px;
margin-bottom: 20px;

}

.section_text {
margin-bottom: 20px;
border: 10px solid khaki;
padding: 15px;

}

.section-2{
   background-color: plum;
   padding: 15px;
}

/* схлопування mergin. значення відступу 
буде дорівнювати найбільшому з двох значень*/

/* відступ mergin прийнято записувати з ліва на право та зверху вниз
 */

/*====================================================================================== */
/*----------------------------- css-властивості оформлення блоків -----------------------*/
/*====================================================================================== */

/* 
border
універсальна властивість встановлює товщину,стиль
та колір границі навколо елемента 
влвстивість не успадковується
border: товщина стиль колір;
основні стилі - dolid dotter dasher double
 */

   /*margin: 15px;
   padding: 15px;
   border: 10px solid rgb(37, 70, 154);
   border-bottom: none;*/

   /*border-top: 10px solid #000;
   border-right: 10px solid rgb(100, 153, 102);
   border-left: 10px solid rgb(214, 148, 176);
   border-bottom: 10px solid rgb(18, 32, 68);  */

 /* 
outline - універсальна властивість встановлює товщину,стиль
та колір обводки навколо елемента
влвстивість не успадковується 
 */

 /* border-radius
 встановлює радіус заокруглення кутів блоку.
  властивість не успадковується */


  /*.circle{
   width: 200px;
   height:200px ;
   border-radius: 50%  ;
   background-color: royalblue;
   box-shadow: inset 10px 10px 5px 5px rgb(17, 17, 199);


/* box-shadow
додає тінь елементу
властивісь не успадковюється
box-shadow: здвиг_по_горизонталі здвиг_по_вертикалі радіус відстань колір; 
inset - тінь в середені об'єкту
*/

/* opacity
встановлює рівень прозорості елементів
 властивісь не успадковюється
 0 - повна прозорість
 1- повна непрозорість
 0.5 - прозорість 50%*/

/* visibility
управляє відображенням елемента
visible - (за замовченням) відображає об'єкт 
hidden - ховає об'єкт (з об'єктом не можна взаєиодіяти*/


/*.block {
   margin: 15px;
   padding: 15px;
 
}

.block-2{
   background-color: olive;
   margin: 15px;
   padding: 15px;
  
}

.block:hover{
  
}





.inline {

}

.image {
   width: 200px;
  
}
*/

/* центрування блоку */

/* 1) об'єкт має бути блочним
   2) об'єкт має мати меншу ширину за батьківський
   3)додаємо margin: 0 auto;
   */


/*.center-block{
   background-color: palevioletred;
   padding: 15px;
   color: whitesmoke;
   margin:  0 auto;
   max-width: 200px;
}*/

/* margin:  0 0 0 auto; */

/* прикол з тінями */
/*.button{
   display: inline-block;
   background-color: orchid;
   padding: 15px;
   color: wheat;
   border-radius: 20px;
   box-shadow: 0 5px 0 #000;
}

.button:hover{
   margin-top: 3px;
   box-shadow: 0 2px 0 #000;
}*/